* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    padding: 0;
    margin: auto; 
    font-family: 'Roboto', sans-serif;
    overflow-x: auto; 
    width: 100%;
    max-width: 1000px;
}

.body-content-container {
    display: flex;  
    flex-direction: row;  
    justify-content: space-between;  
    align-items: stretch;  
    width: 100%;  
    max-width: 1000px;  
    margin: 0 auto;  
    padding: 10px;
    gap: 20px; 
    
}

.items-container,
.order-summary-container {
    flex: 1; 
    overflow: auto; 
    padding: 20px;  
}

@media (max-width: 768px) {
    .body-content-container {
        flex-direction: column;  
        grid-template-columns: 1fr;  
    }

    .items-container,
    .order-summary-container {
        width: 100%;  
        
    }
}

  
  .items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    overflow-y: auto; 
    overflow-x: hidden;
    max-height: 50vh; 
    background-color: #f8f8f8;
    padding: 5px;
    border: 1px solid #755454;

    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(255, 253, 253, 0.1);
    width: 100%; 
    margin-top: 20px;  
    box-sizing: border-box; 
  }

  .order-summary-container {
    margin-top: 20px ;
    background-color: #f8f8f8;
    padding: 10px;

    border: 1px solid #755454;

    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(98, 2, 2, 0.1);
    overflow-y: auto; 
    max-height: 50vh; 
}

.order-summary-container::-webkit-scrollbar {
    width: 6px;
}

.order-summary-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.order-summary-container::-webkit-scrollbar-thumb {
    background-color: darkgrey; 
    border-radius: 10px; 
    border: 2px solid rgb(213, 205, 191);
}


  .menu-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    border-radius: 10px;
    background: #e9e5e5;
    box-shadow: 0 1px 3px rgba(227, 4, 41, 0.1);
    height: auto; 
    width: auto;
    margin: 10px; 
    user-select: none;
    
}


@media  (min-width: 1000px){
    .body-content-container {
      min-width: 1000px; 
      max-width: 1000px; 
    }
  }
  
@media (max-width: 344px) {
    .items-container {
        grid-template-columns: 1fr; 
    }
}
@media (min-width: 360px) and (max-width: 540px) {
    .items-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 540px) {
    .items-container {
        grid-template-columns: repeat(1, 1fr);
        max-height: 50vh; 
    }

    .order-summary-container {
        max-height: 50vh; 
    }
}

@media (min-width: 541px) and (max-width: 768px) {
    .items-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 768px) {
    .body-content-container {
        flex-direction: column;
    }
    .order-summary-container {
        order: 2;
        width: 100%;
        max-height: none; 
    }
}

@media (min-height: 768px) and (max-height: 932px) {
    .body-content-container {
        flex-direction: column;
    }
    .order-summary-container {
        order: 2; 
        width: 100%;
        max-height: 300px; 
    }
}

@media (min-width: 1024px){
    .items-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
.section-one{
    position: relative;
}

.logo-container{
    position: relative;
    display: block; 
}

.header-logo{
    width: 100%;
    height: auto;
    object-fit: contain;

    display: block;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
   
}
.header-text p{
   color: rgb(233, 226, 82);
   font-style: italic;
}
.header-text {
  position: absolute;
  max-width: 250px;
  top: 50%;
  left: 30%;
  transform: translate(-90%, -50%);
  z-index: 1;
  color: rgb(233, 226, 82);
  text-align: center;
  width: 90%; 
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.landing-page-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    padding: 20px; 
    text-align: center;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.landing-page-content h2, 
.landing-page-content p{
    padding: 5px;
    margin: 10px;
}

.content-header{
    margin-left: 20px;
    text-decoration: underline;
}

.menu-item-image {
    border-radius: 6px;
    width: 80px; 
    margin-bottom: 5px;
}





.menu-item-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    width: 100%; 
    padding: 5px; 
    margin: 0;
    flex-grow: 1;    
}

.menu-item-details > * {
    margin-top: 1px;
}

.add-btn{
    margin-top: 5px; 
    width: 80%; 
    border-radius: 5px;
    background: rgb(82, 163, 233);
    width: 5rem;
    height: 2rem;
    color: rgb(241, 241, 241);
    font-size: .8rem;
    cursor: pointer;
    user-select: none;
    border: none;
}

.button-quantity-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    padding: .5rem;

    width: 100%;
    margin-top: 5px;
}
.quantity-indicator{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: none;
    color: black;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 0.7rem;

}

.section-summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.receipt-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 20px;

}

.horizontal-divider-dashed{
    border: .8px solid black;
}

.receipt-body{
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 0.8rem;
}

.receipt-titles{
    font-weight: bold;
    font-size: 0.8rem;
}

.receipt-item div{
    border: none;
}
.receipt-item .order-item-name{
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 60%; 
}

.receipt-item .order-item-price{
    font-size: .7rem;
    padding: 0;
}
.receipt-titles , .receipt-item{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.receipt-titles span ,.receipt-item span {
    flex: 1; 
    min-width: 60px; 
}

.receipt-titles span:first-child, 
.receipt-item span:first-child {
    text-align: left;
}

.receipt-titles span:nth-child(2), 
.receipt-item span:nth-child(2){
    text-align: center;
}
.receipt-titles span:last-child, 
.receipt-item span:last-child {
    text-align: right;
}

.horizontal-divider{
    border: 1px solid gray;
}

.order-total-price{
    display: flex;
    justify-content: space-between;
    margin: 25px;

}


.order-item-quantity{
    display: flex;
    justify-content: center;
    position: relative; 
}

.order-item-quantity span {
    cursor: pointer;
    font-size: 1rem; 
    color: red; 
    font-weight: bold;
    user-select: none;
}

.remove-all-item{
    font-size: 8px;
    color: #5f646a; 
    cursor: pointer;
    text-decoration: underline; 
    padding: 3px 5px; 
    border-radius: 5px; 
    transition: background-color 0.2s;
}

.remove-all-item:hover, .remove-all-item:focus {
    color: red;
    text-decoration: none; 
}

.add-single-item,
.remove-single-item {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 

    cursor: pointer;
    font-size: 1rem;
    color: black;
    user-select: none;
    
    background-color: rgb(199, 235, 237);

    border-radius: 50%; 
    width: 1rem; 
    height: 1rem; 
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
    border: none;
    margin: 0; 
    padding: 0; 
}

.remove-single-item {
    left: 20%; 
}

.add-single-item {
    right: 20%; 
}

.add-single-item:hover,
.remove-single-item:hover,
.add-single-item:focus,
.remove-single-item:focus {
    background-color: #e7f5ff; 
    border-radius: 50%; 
    text-decoration: none; 
}

.section-complete{
    display: flex;
    justify-content: center;
    align-items: center;
}



#complete-order-button {
    display: block;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    margin: 20px auto;
    width: 95%;
    height: 30px;
    background-color: rgb(66, 159, 221);
    color: white;
}


/* 
    THIS IS FOR CUSTOM MADE CHECKOUT FORM

    Payment form box styles 
    keep payment-form-box more generic and reusable for other 
    types of content that may not require a flex layout.
*/
.payment-form-box { 
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001; 
}
 .form-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.form-details input[type="text"],
.form-details input[type="tel"],
.form-details button {
    margin: 10px 0; 
    padding: 10px; 
}


.form-details button {
    background-color: rgb(43, 245, 117);
    color: white;
    border-radius: 6px;
    border: none;
    width: 100%;
    height: 60px;
    margin: 20px;

    cursor: pointer;
}

/* ********************* OVERLAY payment form box   ********************** */

/* Overlay styles */
body .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* See-through background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
}

.close-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 50%;
    border: none;
    

    width: 30px;
    height: auto;
    background-color: rgb(0, 8, 8);
    position: absolute;
    top: 2%;
    right: 45%;
    font-size: 25px;
    cursor: pointer;
    color: #f80000; 
    color: white;
}

.close-button:hover {
    color: white; 
    background-color: red;
}

